.productInfo {
  display: grid;
  grid-template-columns: 0.45fr 350px 0.092fr 829px 0.45fr;
  grid-template-areas: ". p . m .";
  font-family: "Tajawal", Harmattan, sans-serif !important;
  margin-top: 50px;
}

.poster-wrapper {
  grid-area: p;
  width: 400px;
}
.content {
  grid-area: m;
  max-width: 700px;
}

.mainTitle {
  font-size: 1.8rem;
}

.poster {
  width: 350px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px;
  max-width: 330px;
}

.content .MuiFormControl-root {
  width: 80px;
  margin: 5px 0;
}

.error {
  color: red;
  margin: 10px;
}

.counter {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 992px) {
  .productInfo {
    display: flex;
    /* grid-template-columns: 0.45fr 350px 0.092fr 829px 0.45fr; */
    /* grid-template-areas: ". p . m ."; */
    font-family: "Tajawal", Harmattan, sans-serif !important;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
